html {
	font-family: 'Whitney SSm A', georgia;
	-webkit-font-smoothing: antialiased;
	background: #f9f9f9;
}

h1 {
	font-size: 37px;
	text-align: center;
}

a {
	text-decoration: none;
}

h2 {
	font-size: 24px;
}

h2:hover {
	color: blue;
}

p{
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #474747;

}