body{
	font-family: 'lucida grande', sans-serif;
	height: 100%;
}

/* GENERIC STYLES */

.cf:before, .cf:after { content: ""; display: table; }
.cf:after { clear: both; }
.cf { zoom: 1; }

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

h1,h2,h3,h4,h5,h6,p {
	margin: 0;
	padding: 0;
}

h1 {
	font-family: 'headline';
	font-size: 58px;
	font-weight: normal;
	line-height: 60px;
	letter-spacing: -2px;
	color: #232323;
}

h3 {
	font-family: 'headline';
	font-size: 20px;
	font-weight: normal;
	line-height: 27px;
	color: #222;
}

h4 {
	font-size: 21px;
	line-height: 27px;
}

p {
	font-size: 14px;
	font-weight: normal;
	line-height: 20px;
}

.hide {
	display: none;
}

/* HEADER STYLES */

header {
	padding: 20px 55px 15px 55px;
}

nav {
	text-align: right;
	margin: 0 0 33px 0;
}

header ul{
	margin: 0;
	padding: 0;
}

header li {
	list-style: none;
	display: inline;
	margin: 0 0 0 25px;
}

header a {
	text-decoration: none;
	font-size: 12px;
	line-height: 27px;
	color: #369;
}

header a:hover {
	color: #69c;
}

#day {
	color: #999;
	cursor: auto;
	font-size: 12px;
	line-height: 27px;
	display: block;
	margin: 0 20px 0 0;
	padding: 0;
}

#signin {
	color: #69c;
}

#signin:hover {
	color: #369;
}

#logo_container {
	width: 164px;
	margin: 0 auto;
}

#logo_container img {
	width: 100%;
}


/* CONTENT STYLES */

#content_wrapper {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.inner-wrapper {
	width: 830px;
	margin: 0 auto;
}

.box_h1 {
	margin: 0 0 22px 0;
	text-align: center;
}

#basecamp-cta .box_h1 {
	font-size: 46px;
	margin: 0 0 17px 0;
	line-height: 46px;
	letter-spacing: -1px;
}

#basecamp-cta p {
	text-align: center;
	margin-bottom: 46px;	
}

#basecamp-cta img{
	position: absolute;
	top: 160px;
	left: 300px;
	z-index: 9999;
}

#highrise-cta .box_h1 {
	font-size: 46px;
	margin: 0 0 17px 0;
	line-height: 46px;
	letter-spacing: -1px;
}

#highrise-cta p {
	text-align: center;
	margin-bottom: 46px;	
}

#highrise-cta img{
	position: absolute;
	top: 160px;
	left: 520px;
	z-index: 9999;
}

#campfire-cta .box_h1 {
	font-size: 46px;
	margin: 0 0 17px 0;
	line-height: 46px;
	letter-spacing: -1px;
}

#campfire-cta p {
	text-align: center;
	margin-bottom: 46px;	
}

#campfire-cta img{
	position: absolute;
	top: 160px;
	left: 590px;
	z-index: 9999;
}

.cta_underline {
	color: #369;
	text-decoration: underline;
	letter-spacing: -1px;
}

.box_h3 {
	margin: 0 0 26px 0;
	text-align: center;
}

#boxes {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.box_img {
	width: 105px;
	height: 88px;
	margin: 0 auto 8px auto;
}

.box_img img {
	width: 100%;
	margin: 0 auto;
}

.box h4 {
	margin: 0 0 10px 0;
	position: relative;
}

.box_header {
	color: #369;
	font-weight: bold;
	text-decoration: underline;
}

.cr {
	position: absolute;
	top: 5px;
	color: #999;
	font-size: 12px;
	text-decoration: none;
}

.box_sub {
	font-weight: bold;
	color: #cc0000;
	margin: 0 0 13px 0;
}

.break {
	background: url('../images/img-hr.png') no-repeat;
	width: 72px;
	height: 12px;
	margin: 45px auto;
}

.box {
	position: relative;
	display: inline-block;
	margin: 0 18px;
	width: 180px;
	padding: 20px 0 23px 0;
	border: 1px solid #e8e8e8;
	border-radius: 4px;
	-moz-box-shadow: 0 0 2px 1px #f8f8f8;
	-webkit-box-shadow: 0 0 2px 1px #f8f8f8;
	box-shadow: 0 0 2px 1px #f8f8f8;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#efefef 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */

}






